<header class="navbar bg-base-100 shadow-md z-50 sticky top-0">
  
	<div class="flex-none px-4 flex items-center gap-2">
	  <button class="btn btn-ghost lg:hidden" @click="drawerOpen = !drawerOpen">
		<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 24 24" stroke="currentColor" stroke-width="2.5">
		  <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"/>
		</svg>
	  </button>
  
	  <button class="btn btn-ghost hidden lg:flex" @click="sidebarOpen = !sidebarOpen">
		<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2.5">
		  <path stroke-linecap="round" stroke-linejoin="round" d="M4 12h16M4 6h16M4 18h10"/>
		</svg>
	  </button>
	</div>
	
	<div class="flex-1">
	  <a href="{% url 'dashboard:dashboard' %}" class="font-bold text-xl normal-case">{{ SITE_NAME }} | ダッシュボード</a>
	</div>
  
	<div class="flex-none gap-2">
  
	  <div class="px-4 relative" x-data="{ open: false }">
		<button @click="open = !open" class="btn btn-ghost rounded-lg flex items-center gap-2">
		  <div class="w-8 h-8 rounded-full overflow-hidden">
			{% if user.is_authenticated and USER_PROFILE %}
			  {% if USER_PROFILE.icon %}
				<img src="{{ USER_PROFILE.icon.url }}" alt="プロフィールアイコン"/>
			  {% else %}
				<div class="w-8 h-8 bg-neutral text-neutral-content rounded-full flex items-center justify-center text-xs font-semibold">
				  {{ USER_PROFILE.display_name|first|upper|default:user.email|first|upper }}
				</div>
			  {% endif %}
			{% else %}
			  <img src="https://placehold.jp/40x40.png" alt="User"/>
			{% endif %}
		  </div>
		  <span class="hidden md:inline">
			{% if user.is_authenticated %}
			  {% if USER_PROFILE and USER_PROFILE.display_name %}
				{{ USER_PROFILE.display_name }}
			  {% else %}
				{{ user.email }}
			  {% endif %}
			{% else %}
			  ゲスト
			{% endif %}
		  </span>
		</button>
		<ul x-show="open" @click.outside="open=false" class="absolute top-10 right-0 mt-1 dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 z-50">
		  <li><a href="{% url 'account:profile' %}">プロフィール</a></li>
		  <li><a>設定</a></li>
		  
		  <li class="divider"></li>
		  {% comment %} <li tabindex="0">
			<details>
			  <summary class="font-semibold">テーマ: <span x-text="activeTheme"></span></summary>
			  <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52 max-h-60 overflow-y-auto">
				<template x-for="t in availableThemes" :key="t">
				  <li>
					<a @click="activeTheme = t; open=false" :class="activeTheme === t ? 'active' : ''" x-text="t"></a>
				  </li>
				</template>
			  </ul>
			</details>
		  </li> {% endcomment %}
		  
		  <li><a href="{% url 'account:logout' %}">ログアウト</a></li>
		</ul>
	  </div>
	</div>
  </header>